* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(255, 203, 70);
    color: black;
    font-family: Tahoma;
    margin: 15px 15px;
    margin-bottom: 100px;
}

h1 {
    text-align: center;
    margin: 5px 0 35px;
}


ul, ol {
    margin: 15px;
    padding: 0 10% 0 45px;
}

li {
    padding: 4px;
}

p {
    margin: 10px;
    padding: 10px 5% 0 20px;
}

h2, h3 {
    padding: 15px 0 0 30px;
}

a {
    color: black;
}

img { 
    display: block;
    width: 450px;
    margin: 0 auto 30px;
}
/* img is an inline element 
-> that is why we need to turn it into a block element to center */

.links {
    display: grid;
    
}